body{
  margin: 0;
  padding: 0;
  height:100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  
  /* align-items: center; */
  /* width: 100%; */
  background-color: lightblue;
 /* color: black; */

}
.wrapper{
  border-radius: 50px;
background: #744bd2;
box-shadow: inset 21px 21px 28px #6340b3,
            inset -21px -21px 28px #8556f2;

            color: black;
            width: 80vw;
            height: auto;
            /* margin: auto; */
            display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: auto;
}